<div class="container-fluid">
  <div class="row">
    <!-- col -->
    <div class="mat-user-details col-md-4">
      <div *ngIf="auth.user$ | async as user; else notloggedin">
        <mat-card>
          <mat-card-title>
            <h5>
              Current UserId : 
              {{ currentUserId }}
            </h5>
          </mat-card-title>
        </mat-card>
        <mat-card>
          <mat-card-title
            >your details
            <span>
              <img
                src="{{ user.photoURL }}"
                alt="{{ user.displayName }}"
                class="detail-image"
              /> </span
          ></mat-card-title>
          <mat-card-content class="user-content-scroll-view">
            <mat-card-content>
              Name: {{ user.displayName }} <br />
              Email: {{ user.email }} <br />
            </mat-card-content>
            <pre>
              {{ user | json }}
            </pre>
          </mat-card-content>
        </mat-card>
      </div>

      <ng-template #notloggedin>
        <mat-card>
          <mat-card-title>must be logged in to view</mat-card-title>
        </mat-card>
      </ng-template>

      <!-- add items card -->
      <app-add-item></app-add-item>
      
    </div>
    <!-- col  -->

    <app-listcomp></app-listcomp>

    <!-- col -->
  </div>
</div>
