* {
  list-style: none;
}

.user-content-scroll-view {
  overflow: scroll;
}

.item-panel {
  margin: 0.5rem;
}

.detail-image {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  float: right;
}


